body {
    margin: 0;
}

.busTable { 
   color: white; 
   font: 14px "Lucida Grande";
   font-weight: bold;
}

.busTable th { 
   text-align:left; 
   font-style:italic; 
}

.theBeef {
    font: 14px "Lucida Grande";
    font-weight: bold;
    color: black;
    position: absolute;
    top: 15px;
    left: 15px;
}
